body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #313C40;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h2:nohover:hover {
  color: rgb(250, 250, 250);
  padding: 16px;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
}

.sidebar a {
  display: block;
  color: rgb(250, 250, 250);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #FFA500;
  color: white;
}

.sidebar test:nohover:hover {
  border: 0;
}

.button_del {
  background-color: #5a6a70; 
  border: none;
  color: white;
  padding: 3px 6px;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  transition-duration: 0.4s;
}
.button_del:hover {
  background-color: #252d30; 
  color: white;
}

.button_sub {
  background-color: #313C40; 
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  border-radius: 4px;
}

div.content {
  margin-left: 220px;
  padding: 15px 16px;
  height: 1000px;
}

#sidebar_logo{
  color: #FFA500;
  padding: 16px;
}

#search_order{
  float: right
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}